In [17]:
import pandas as pd
import math
import pytz
from timezonefinder import TimezoneFinder
import datetime
pd.options.mode.chained_assignment = None  # default='warn'

input_epw = input("What epw file?\n\n") #'C:\Users\JINYUZHEN\Desktop\study\GEO2020\Python\EPW python reader\NLD_OV_Twenthe-Enschede.AP.062900_TMYx.2004-2018\NLD_OV_Twenthe-Enschede.AP.062900_TMYx.2004-2018.epw'
citysimOutput = input("Output location?\n\n") #'C:\Users\JINYUZHEN\Desktop\study\GEO2020\Python\EPW_citysim.cli'

What epw file?

 C:\Users\JINYUZHEN\Desktop\study\GEO2020\Python\EPW python reader\NLD_OV_Twenthe-Enschede.AP.062900_TMYx.2004-2018\NLD_OV_Twenthe-Enschede.AP.062900_TMYx.2004-2018.epw
Output location?

 C:\Users\JINYUZHEN\Desktop\study\GEO2020\Python\EPW_citysim.cli

In [18]:
epw_cols = ['Year','Month','Day','Hour','Minute','Data Source and Uncertainty Flags','Dry Bulb Temperature','Dew Point Temperature','Relative Humidity','Atmospheric Station Pressure','Extraterrestrial Horizontal Radiation','Extraterrestrial Direct Normal Radiation','Horizontal Infrared Radiation Intensity','Global Horizontal Radiation','Direct Normal Radiation','Diffuse Horizontal Radiation','Global Horizontal Illuminance','Direct Normal Illuminance','Diffuse Horizontal Illuminance','Zenith Luminance','Wind Direction','Wind Speed','Total Sky Cover','Opaque Sky Cover (used if Horizontal IR Intensity missing)','Visibility','Ceiling Height','Present Weather Observation','Present Weather Codes','Precipitable Water','Aerosol Optical Depth','Snow Depth','Days Since Last Snowfall','Albedo','Liquid Precipitation Depth','Liquid Precipitation Quantity']
df_epw = pd.DataFrame(columns=epw_cols)
#EPW variables and dataframe creation
#Reads the header with the location of the weather station (line 0) and then collects the weather data and save they in a pandas dataframe (after line 7)
count_line = 0
with open (input_epw, 'rt') as myfile:
    for myline in myfile:
        if count_line == 0:
            myline = myline.strip()
            initial = myline.split(",")
            loc = initial[0]
            city = initial[1]
            stateProv = initial[2]
            country = initial[3]
            dataType = initial[4]
            WMOCode = initial[5]
            latitude = float(initial[6].strip())
            longitude = float(initial[7].strip())
            TZ = float(initial[8].strip())
            altitude = float(initial[9])
        elif count_line>7:
            myline = myline.strip()
            initial = myline.split(",")
            df_length = len(df_epw)
            df_epw.loc[df_length] = initial
            #print(initial,type(initial))
        count_line +=1

In [19]:
df_epw

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,2016,1,1,1,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9*9*9,5.0,2.5,84,101787,...,77777,9,999999999,13,0.0850,0,88,0.200,0.0,0.0
1,2016,1,1,2,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9*9*9*9*9*9,5.0,2.4,83,101797,...,77777,9,999999999,13,0.0850,0,88,0.200,0.0,0.0
2,2016,1,1,3,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9*9*9*9*9,5.4,2.8,83,101837,...,1160,9,999999999,13,0.0850,0,88,0.200,0.0,0.0
3,2016,1,1,4,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9*9*9*9*9,6.7,3.5,80,101869,...,1420,9,999999999,14,0.0850,0,88,0.200,0.0,0.0
4,2016,1,1,5,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9?9?9*9*9*9*9,6.5,3.7,82,101908,...,2460,0,919999999,14,0.0850,0,88,0.200,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2012,12,31,20,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9*9*9*9*9,6.9,4.7,86,100873,...,2700,0,019999999,16,0.0850,0,88,0.200,0.0,0.0
8756,2012,12,31,21,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9*9*9*9*9,7.3,4.7,84,100894,...,600,0,019999999,16,0.0850,0,88,0.200,0.0,0.0
8757,2012,12,31,22,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9*9*9*9*9,7.8,5.2,84,100905,...,630,0,019999999,17,0.0850,0,88,0.200,0.0,0.0
8758,2012,12,31,23,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9*9*9*9*9,8.2,5.3,82,100905,...,600,0,019999999,17,0.0850,0,88,0.200,0.0,0.0
8759,2012,12,31,24,60,?9?9?9?9E0?9?9?9?9?9?9?9?9?9?9?9*9?9*9*9*9*9,8.4,5.6,83,100916,...,660,0,019999999,17,0.0850,0,88,0.200,0.0,0.0

In [20]:
dm = ['dm']
df_dm = pd.DataFrame(columns=dm)

In [21]:
df_citysim = pd.DataFrame().assign(dm=df_dm['dm'], m=df_epw['Month'], h=df_epw['Hour'], G_Dh=df_epw['Diffuse Horizontal Radiation'], G_Bn=df_epw['Direct Normal Radiation'], Ta=df_epw['Dry Bulb Temperature'], Ts=df_epw['Dry Bulb Temperature'], FF=df_epw['Wind Speed'], DD=df_epw['Wind Direction'], RH=df_epw['Relative Humidity'], RR=df_epw['Liquid Precipitation Depth'], N=df_epw['Total Sky Cover'])

In [22]:
df_citysim["N"] = pd.to_numeric(df_citysim["N"])
dm = 0
for i in range(8760):
    if (i % 24 == 0):
        dm = dm + 1
    df_citysim['dm'].iloc[i]=dm
    df_citysim['N'].iloc[i]=round(df_citysim['N'].iloc[i]*0.8)
df_citysim

       dm   m   h G_Dh G_Bn   Ta   Ts   FF   DD  RH   RR  N
0       1   1   1    0    0  5.0  5.0  5.0  171  84  0.0  0
1       1   1   2    0    0  5.0  5.0  4.0  178  83  0.0  1
2       1   1   3    0    0  5.4  5.4  4.0  186  83  0.0  7
3       1   1   4    0    0  6.7  6.7  4.0  199  80  0.0  7
4       1   1   5    0    0  6.5  6.5  4.0  214  82  0.0  7
...   ...  ..  ..  ...  ...  ...  ...  ...  ...  ..  ... ..
8755  365  12  20    0    0  6.9  6.9  6.0  220  86  0.0  8
8756  365  12  21    0    0  7.3  7.3  6.0  220  84  0.0  8
8757  365  12  22    0    0  7.8  7.8  6.0  220  84  0.0  8
8758  365  12  23    0    0  8.2  8.2  7.0  220  82  0.0  8
8759  365  12  24    0    0  8.4  8.4  7.0  220  83  0.0  8

[8760 rows x 12 columns]

In [23]:
def get_local_etc_timezone(latitude, longitude):
    # get the time zone at the given coordinates
    tf = TimezoneFinder()
    time = pytz.timezone(tf.timezone_at(lng=longitude, lat=latitude)).localize(
        datetime.datetime(2011, 1, 1)).strftime('%z')

    # invert sign and return in 'Etc/GMT' format
    if time[0] == '+':
        time_zone = '+' + time[2]
    else:
        time_zone = '-' + time[2]

    return time_zone

In [24]:
header_1 = city 
header_2 = str(latitude)+ "," +str(longitude)+ "," + str(altitude)+ ","  + str(get_local_etc_timezone(latitude, longitude))

In [25]:
output = "EPW_citysim.cli"
with open(citysimOutput, "w") as outfile:
    outfile.write(header_1)
    outfile.write("\n")
    outfile.write(header_2)
    outfile.write("\n")
    outfile.write("\n")
df_citysim.to_csv(citysimOutput, mode='a', index=False, header=True, sep='\t')